node_modules
npm-debug.log*
.next/*
!.next/standalone
!.next/standalone/**
!.next/static
!.next/static/**
.DS_Store
*.tsbuildinfo
next-env.d.ts
.git
.gitignore
README.md
.env*.local
coverage
.nx
dist
build

